@charset "UTF-8";
/**{
    font-family: 'Roboto', 'Shrikhand', cursive, sans-serif;
}
*/
header {
  text-align: center;
  font-family: 'Shrikhand';
  height: 42px;
  font-size: 90%;
}

header h1 {
  margin: 20px 0;
  font-weight: normal;
}

main {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

/*------localisation------*/
.bordure {
  width: 100%;
  height: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#19181859), to(#4a454529));
  background: linear-gradient(#19181859, #4a454529);
}

.localisation {
  background-color: #e2e2e2;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.localisation span {
  margin-left: 15px;
  font-weight: 500;
}

/*-------présentation--------*/
.presentation {
  text-align: center;
  padding: 20px 45px 60px 45px;
  background-color: #dab4d021;
}

.buttonClass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 30px;
  font-size: 15px;
  width: 215px;
  height: 50px;
  border-width: 1px;
  color: #ffffff;
  font-weight: bold;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  -webkit-box-shadow: 2px 2px 4px -2px #3c393d;
          box-shadow: 2px 2px 4px -2px #3c393d;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
}

.buttonClass:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#da4ff3), to(#e199ee));
  background: linear-gradient(#da4ff3, #e199ee);
  -webkit-box-shadow: 3px 3px 6px -2px #3c393d;
          box-shadow: 3px 3px 6px -2px #3c393d;
}

/*--------fonctionnement---------*/
.fonctionnement {
  padding: 20px 20px 65px 20px;
}

.fonctionnement-conteneur-filtre div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.fonctionnement-conteneur-filtre span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 4px;
  font-size: 15px;
  width: 20px;
  height: 20px;
  border-width: 1px;
  color: #fff;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  background: #9356DC;
}

.fonctionnement-conteneur-filtre a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  width: 100%;
  height: 75px;
  margin: 15px 0px 15px 15px;
  padding-left: 25px;
  border-width: 0px;
  color: black;
  border-color: #dcdcdc;
  font-weight: bold;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 0px 8px 10px -2px darkgrey;
          box-shadow: 0px 8px 10px -2px darkgrey;
  background-color: #dab4d021;
}

.fonctionnement-conteneur-filtre a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#f9f9f9));
  background: linear-gradient(#e9e9e9, #f9f9f9);
}

.fonctionnement-conteneur-filtre p {
  margin-left: 15px;
}

/*---------- Carte -----------*/
.carte {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
  background-color: white;
  margin: 20px 0;
}

.carte:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.carte a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.sticker {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
  background-color: #99E2D0;
  color: #138367;
}

.carte-conteneur-image {
  position: relative;
  width: 100%;
  margin: 0;
}

.carte-image {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.carte-conteneur-texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px 10px 10px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.carte-texte {
  color: black;
}

.carte-texte h3 {
  margin: 0;
  margin-bottom: 5px;
}

.carte-texte p {
  margin: 0;
  margin-bottom: 5px;
}

.carte-icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carte-icone .fa-regular {
  color: black;
}

.carte-icone .fa-solid {
  position: absolute;
  line-height: normal;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.carte-icone .fa-solid:hover {
  opacity: 1;
  font-size: 1.6em;
}

/*---------------------menus---------------------*/
.menus {
  padding: 65px 20px 65px 20px;
  background-color: #dab4d021;
}

.menus h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

/*--------------------footer----------------------*/
footer {
  font-family: 'Roboto';
  background-color: #353131;
  padding: 1px 20px 1px 20px;
}

footer h2 {
  font-family: 'Shrikhand';
  font-weight: normal;
  color: white;
}

footer a {
  color: white;
}

footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

footer .fa-solid {
  color: white;
}

.conteneur-incone {
  width: 30px;
}

/*--------------------DESKTOP----------------------*/
@media screen and (min-width: 768px) {
  .fonctionnement-conteneur-filtre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .fonctionnement-conteneur-filtre div {
    width: 33%;
  }
  .menus-conteneur-carte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .carte {
    width: 49%;
    margin: 10px 0;
  }
}
/*# sourceMappingURL=style.css.map */