footer {
    font-family: 'Roboto';
    background-color: #353131;
    padding: 1px 20px 1px 20px;
    h2{
        font-family: 'Shrikhand';
        font-weight: normal;
        color: white;
    }
    a{
        color: white;
    }
    li{
        display: flex;
        margin-bottom: 10px;
    }
    .fa-solid{
        color: white;
    }
}

.conteneur-incone{
    width: 30px;
}