.buttonClass {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    font-size:15px;
    // width: 215px;
    width: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
    border-width:1px;
    color:#ffffff;
    font-weight:bold;
    border-radius:26px;
    box-shadow: 2px 2px 4px -2px #3c393d;
    background:linear-gradient($Color_Secondary, $Color_Primary);
    &:hover {
        background: linear-gradient(#da4ff3, #e199ee);
        box-shadow: 3px 3px 6px -2px #3c393d;
    }               
}