@media screen and (min-width: 768px)
{
    .fonctionnement-conteneur {
        display: flex;
        justify-content: space-between;
    }
    .fonctionnement-conteneur div {
        width: 33%;
    }
    .menus-conteneur{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1280px;
        margin: auto;
    }    
    .carte {
        width: 48%;
        margin: 10px 0 20px 0;
    } 
}